*{padding:0;margin:0;font-size:12px;color:#000;text-decoration:none;list-style: none;}
table{border-collapse:collapse;}
body {
	overflow: hidden;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
  font-family: 'CrimsonText-Regular';
  src: url('/skin/skin_style/fonts/CrimsonText-Regular.ttf') format('truetype');
  font-weight: normal;font-style: normal;
}

@font-face {
	font-family: 'MaruBuri-Regular';
    src: url('/skin/skin_style/fonts/MaruBuri-Regular.otf');
    src: url('/skin/skin_style/fonts/MaruBuri-Regular.woff') format('woff'),
         url('/skin/skin_style/fonts/MaruBuri-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
 font-family: 'NanumSquare-Regular';
 font-weight: 400;
 src: url(NanumSquareR.eot);
 src: url(/skin/skin_style/fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(/skin/skin_style/fonts/NanumSquareR.woff2) format('woff2'),
      url(/skin/skin_style/fonts/NanumSquareR.woff) format('woff'),
      url(/skin/skin_style/fonts/NanumSquareR.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('/skin/skin_style/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('/skin/skin_style/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;font-style: normal;
}
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('/skin/skin_style/fonts/GowunDodum-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.title_box_wrap{width:100%;position:relative;background-color:#fff;}
.main_img_icon1{width:40%;position:absolute;right:0;top:40px;margin-right:-10%;}
.main_img_icon2{width:40%;position:absolute;left:0;bottom:88px;margin-left:-13%;}
.title_box_wrap_1{}

.frame{width:100%;}
.wd_line{width:1px;background:#8D8D8D;height:13px;display:inline-block;margin:0 20px;vertical-align:2px;}
.wd_date{color:#333333;font-size:6vw;font-family:'CrimsonText-Regular';text-align:center;letter-spacing: 1.6px;}
.wd_YOIL{font-family:'CrimsonText-Regular';color:#8D8D8D;font-size:4.5vw;text-align:center;margin-top:5px;letter-spacing: 1.8px;}

.wd_names{color:#333333;font-size:6vw;font-family:'GowunDodum-Regular';text-align:center;letter-spacing: 1.6px;}
.wd_info{font-family:'GowunDodum-Regular';color:#333333;font-size:4vw;text-align:center;margin-top:20px;}

#invitation{margin-top:100px;}
.TITLE_EN{font-family:'CrimsonText-Regular';color:#CBA9C3;font-size:3vw;text-align:center;letter-spacing:2px;}
.TITLE_KR{font-family:'GowunDodum-Regular';color:#333333;font-size:4.5vw;text-align:center;margin-top:6px;}

.invitation_txt{font-family:'GowunDodum-Regular';color:#333333;font-size:4vw;text-align:center;margin-top:40px;line-height:40px;}


.wd_line2{width:1px;background:#8D8D8D;height:14px;display:inline-block;margin:0 5px;}
.p_name_wrap .p_name .p_name_m ._ps1 {font-size:3.3vw;letter-spacing:0px;color:#8D8D8D;display:inline-block;margin-right:30px;}
.p_name_wrap .p_name .p_name_w ._ps2 {font-size:3.3vw;letter-spacing:0px;color:#8D8D8D;display:inline-block;margin-right:30px;}

.nameTB{margin:0 auto;}
.nameTB tr td._ps3 {letter-spacing:0px;color:#8D8D8D;}
.nameTB tr td{font-size:4.8vw;font-family:'GowunDodum-Regular';color:#333333}

.nameTB tr td ._ps3 {font-size:4.2vw;letter-spacing:0px;color:#8D8D8D;font-family:'GowunDodum-Regular';}
.nameTB tr td span{font-size:4.8vw;font-family:'GowunDodum-Regular';color:#333333}


.p_name_wrap {letter-spacing: 2px;}
.p_name_wrap .p_name .p_name_m {margin-bottom:15px;text-align:center;}
.p_name_wrap .p_name div span{font-size:4.8vw;font-family:'GowunDodum-Regular';color:#333333}
.p_name_wrap .p_name div span:nth-child(2){font-size:3.3vw;}
.p_name_wrap .p_name div span:nth-child(3){font-size:3.3vw;}


.p_name2{font-size:6vw;text-align:center;font-family:'GowunDodum-Regular';}
.p_name2_span{font-size:5vw;text-align:center;font-family:'GowunDodum-Regular';}
.p_name2_span2{font-size:5vw;text-align:center;font-family:'GowunDodum-Regular';margin-top:15px;}

.collBtn{
	color:#A17A98;font-family:'GowunDodum-Regular';font-size:4vw;text-align:center;line-height:45px;
	width: 83%;height: 45px;margin:0 auto;margin-top:45px;
	background: #FFFFFF;
	border: 1px solid #A17A98;
	border-radius: 33px;
}


.CALL_SHADE{display:none;opacity: 0.7;background: #000000;POSITION:FIXED;left:0;top:0;width:100%;height:100vh;z-index:300;}
.CALL{display:none;position:fixed;width:90%;left:5%;top:5%;z-index:301;background:#fff;}
.CALL_TITLE{color:#A17A98;font-family:'GowunDodum-Regular';text-align:center;font-size:4.5vw;}
.CALL_TITLE2{color:#333333;font-family:'GowunDodum-Regular';text-align:center;font-size:3.5vw;}
.CALL_LINE{BACKGROUND:#F2F2F2;HEIGHT:1PX;width:100%;}
.CALL_LINE2{BACKGROUND:#F2F2F2;HEIGHT:10PX;width:100%;}

.CALL_TB{width:90%;margin:0 auto;}
.CALL_TB tr{height:40px;}
.CALL_TB1{color:#8D8D8D;font-family:'GowunDodum-Regular';font-size:4vw;}
.CALL_TB2{color:#333333;font-family:'GowunDodum-Regular';font-size:4vw;}
.CALL_TB3{text-align:right;position:relative;}
.CALL_TB4{text-align:right}
.phone_icon{width:18px;}
.msg_icon{width:18px;}
.X_ICON{position:absolute;right:5%;top:3%;width:20px;}
.CALL_ICONS{position:absolute;left:-17px;top:20px;}
.CALL_ICONS3{background:#E4E4E4;width:5px;height:5px;display:inline-block;border-radius:10px;margin-right:6px;}




._titleBox{text-align:center;}
._titleTxt{font-size:6vw;text-align:center;}
._titleTxtLine{height:1px;background:#150506;width:40vw;margin:0 auto;margin-top:20px;margin-bottom:20px;}
._titleTxtIcon{height:6px;}
.calendarTitleY {font-family:tahoma; font-size:11px; color:#666666; text-align:left; padding-top:8px; padding-left:10px;}
.calendarTitleM {font-family:tahoma; font-size:24px; color:#78b300; text-align:left; font-weight:bold; padding-left:5px;}
.calendarWeekS {font-family:tahoma; font-size:9px; color:#78b300; float:left; width:30px; height:25px; padding-top:5px; }
.calendarWeekT {font-family:tahoma; font-size:9px; color:#808080; float:left; width:30px; height:25px; padding-top:5px; }
.calendarWeek {font-family:tahoma; font-size:9px; color:#808080; float:left; width:30px; height:25px; padding-top:5px; }

.calendarDayS {font-family:tahoma; font-size:11px; color:#78b300; float:left; width:30px; height:25px; font-weight:bold;padding-top:5px; }
.calendarDayT {font-family:tahoma; font-size:11px; color:#808080; float:left; width:30px; height:25px; font-weight:bold;padding-top:5px; }
.calendarDay {font-family:tahoma; font-size:11px; color:#808080; float:left; width:30px; height:25px;  font-weight:bold;padding-top:5px; }
.calendarToDay {font-family:tahoma; font-size:11px; color:fe5400; float:left; width:30px; height:25px;  background:url('/ad/static/img/icon_calendar_point.gif') no-repeat; font-weight:bold;padding-top:5px;}

.calendarNoDay {float:left; width:30px; height:25px;padding-top:5px; }
.calendarNow {font-family:tahoma; font-size:11px; color:333333; float:left; width:148px; height:20px;  padding-left:8px;}
.calendarClose {font-family:tahoma; font-size:11px; color:333333; float:left; width:55px; height:20px; }
.clearboth {clear:both;}
.content_imgBox {
	background-color:#CBA9C3;color:#fff;width:8vw;height:8vw;line-height:8vw;border-radius:10px;font-size:4vw;
	display:inline-block;
}
.content_holiday{color:#e97265;}
.cal{width:90%;margin:0 auto;border-collapse:collapse;}
.cal tr td{font-size:4vw;font-family: 'OpenSans-Light';color:#333333;}
.cal tr th{font-weight:normal;font-size:4vw;font-family: 'GowunDodum-Regular';color:#8D8D8D;}
.cal tr{height:50px;}
.cal_info2{height:50px;font-family: 'GowunDodum-Regular';color:#333333;font-size:4vw;text-align:center;}
.cal_info2 span{font-family: 'GowunDodum-Regular';color:#A17A98;font-size:4vw;}
.TITLE_KR2{font-family: 'GowunDodum-Regular', serif;font-weight:0;color:#333333;font-size:5vw;text-align:center;letter-spacing: 0px;}







.etc_loca_info{width:90%;margin:0 auto;font-family: 'GowunDodum-Regular';}
.etc_loca_info .etc_loca_infoINNER{padding-left:25px;font-size:3.7vw;color:#333333;}
.etc_loca_info .subwayICON{color:#A17A98;font-family: 'GowunDodum-Regular';font-size:4vw;display:inline-block;position:relative;margin-bottom:7px;}
.ICONBG{width:20px;position:absolute;left:-25px;top:1px;}



._BOTTOM{background:#EDE6EB;}
._BOTTOM_KAKA{text-align:center;color:#333333;font-size:4vw;font-family: 'GowunDodum-Regular';}
._BOTTOM_INFO{text-align:center;color:#8D8D8D;font-size:12px;font-family: 'CrimsonText-Regular';}


#guestbook{background:#FCFAFB;}
.guestbook_tb{background:#FFF;margin-bottom:15px;width:100%;margin:0 auto;margin-bottom:15px;}
.guestbook_tb tr td{padding:0px 15px 0px 30px;}
.gb_namespan{color:#333333;font-size:3.7vw;text-align:left;font-family:'NanumSquare-Regular';}
.gb_datespan{color:#AAAAAA;font-size:11px;font-family:'NanumSquare-Regular';}
.gb_memotd{color:#333333;font-size:3.7vw;text-align:left;font-family:'NanumSquare-Regular';}
.guestbookX{position:absolute;right:20px;top:-10px;width:8px;}







.GBP1_OBJ,.GBP2_OBJ{display:none;}
.GBP1_BTN2{display:none;}
.GBP1_step2{display:none;}
.GBP_1SHADE{z-index:10;opacity: 0.6;background:#000;position:fixed;left:0;top:0;width:100%;height:100%;}
.GBP_1{z-index:11;width:85%;position:fixed;left:7.5%;top:50%;margin-top:-165px;background:#fff;}
.GBP1_TOP{height:50px;position:relative;}
.GBP1_TOPX{position:absolute;right:15px;top:15px;width:14px;}
.GBP1_TITLE{font-family: 'GowunDodum-Regular';color:#A17A98;font-size:4.8vw;text-align:center;}
.GBP1_MSG{font-family: 'GowunDodum-Regular';color:#333333;font-size:3.6vw;text-align:center;}
.GBP1_CON{width: 90%;margin:0 auto;border-top:1px solid #E4E4E4;height:140px;text-align:center;}
.GBP1_CONTT{width: 100%;font-family: 'GowunDodum-Regular';color:#191919;font-size:3.6vw;text-align:LEFT;MARGIN-TOP:30PX;MARGIN-BOTTOM:10PX;}
.GBP1_BTNS{
	color:#FFFFFF;font-family:'GowunDodum-Regular';font-size:4vw;text-align:center;line-height:45px;height: 45px;
	width: 90%;margin:0 auto;border-radius: 10px;
	background: #A17A98;border: 1px solid #A17A98;
}
.GBP1_step2DIV{color:#191919;font-size:3.6vw;font-family:'GowunDodum-Regular';line-height:25px;margin-top:45px;}



.GBP_INPUT::placeholder{ color:#D4D4D4; }
.GBP_INPUT{font-family: 'GowunDodum-Regular';border: 1px solid #E4E4E4;border-radius: 10px;padding-left:10px;line-height:45px;height: 45px;width: 100%;margin:0 auto;font-size:3.6vw;outline:none;}
.GBP_INPUT2{font-family: 'GowunDodum-Regular';border: 1px solid #E4E4E4;border-radius: 10px;padding-left:10px;width: 100%;margin:0 auto;font-size:3.6vw;outline:none;line-height:20px;padding-top:10px;}


.GBP_2SHADE{z-index:10;opacity: 0.6;background:#000;position:fixed;left:0;top:0;width:100%;height:100%;}
.GBP_2{z-index:11;width:85%;position:fixed;left:7.5%;top:5vh;max-height:90vh;margin-top:-0px;background:#fff;overflow-y:auto;}
.GBP2_TOP{height:50px;position:relative;}
.GBP2_TOPX{position:absolute;right:15px;top:15px;width:14px;}
.GBP2_TITLE{font-family: 'GowunDodum-Regular';color:#A17A98;font-size:4.8vw;text-align:center;}
.GBP2_MSG{font-family: 'GowunDodum-Regular';color:#333333;font-size:3.6vw;text-align:center;}
.GBP2_TB{width: 90%;margin:0 auto;border-top:1px solid #E4E4E4;}
.GBP2TB_TITLE{font-family: 'GowunDodum-Regular';color:#191919;font-size:3.6vw;}